
catalogo_tintos_wine_vivino.xlsx
mvp/venvw/
mvp/venv/
.vscode/*
.vscode/settings.json
chromedriver_win32/
__pycache__/
*.pyc
mvp/app/__pycache__/
.vscode/settings.json
result_semana-29-05.csv
result.csv
