{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">$(document).ready(function(){
        $('table').DataTable({
            "pageLength": 10
        });
    });</script>
{% endblock %}

{% block app_content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div>
    <h1>Tabela de Vinhos</h1>
    {{ df.to_html(index=False, render_links=True)|safe }}
</div>
{% endblock %}
 