body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h1              { color: #377ba8; }
h1              { margin: 0; }
h1              { border-bottom: 2px solid #eee; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

.tab-resumo {
  padding: 10%;
  margin-top: -8%;
}
.tab-resumo #tabs{
  background: #007b5e;
  color: #eee;
}
.tab-resumo #tabs h6.section-title{
  color: #eee;
}
.tab-resumo #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.tab-resumo .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.tab-resumo .nav-link:hover {
  border: none;
}
.tab-resumo thead{
  background: #f3f3f3;
  color: #333;
}
.tab-resumo a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}